<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            Software Architect with over 14 years of experience. Playing the role of an architect in the <a href="https://www.freshworks.com/platform/analytics/">analytics platform team</a>. Responsible for coding, designing, and architecting highly performant backend services, 
	    that drive the entire analytics engine across all the products in the organization. Lately have been involved in prompt Engineering and openAI <a href="https://www.freshworks.com/freddy-ai/">initiatives</a>.

        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification and which can make lives easier for users/developers.
        </p>
        <p>
	  I constantly strive for new challenges, and never shy away from burning my hands with lastest technology offering out there.
	</p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
			    <li>
				    As an Individual Contributor, developed a highly Scalable Self Service Platform with auditing and versioning capabilities, that could be used by the product teams across Freshworks, 
				    to configure their data in analytics without any intervention from the dev team, thereby saving significant man works.(approx-20 Devs).
			    </li>
    			<li>
            Developed a generic scalable calculator on Spel and Java, which reduced the time to market from 30 man days to 1 week.
    			</li>
          <li>
            Speaker in various technical forums (BJUG) and an active technical writer.
            Led the design and development of in house data monitoring and capturing tool, there by helping save $ spent on propertieary software.
          </li>
    	   <li>
            Onsite experience of working closely with the business partners in HongKong.
    	   </li>
    	 </div>
    </div>
  </div>
</section>
