<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            Senior developer with over 8.5 years of experience in architecting ,developing , testing and deploying server side systems.
            Technically , I am well versed with Java , spring , unix and MQ . Lately, I have been leading the efforts in designing scalable cloud ready
            services. I have fair bit of understanding of architecting and designing microservices , API gateway, service mesh, docker.

        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification and which can make lives easier for users/developers.
        </p>
        <p>
	    Professionally, I lead the Asia Equity technical stream in middle office application. I work closely with the users, with the aim to reduce cost , bring efficiency 
	    and reduce the time to market. I constantly strive for new challenges, and never shy away from burning my hands with lastest technology offering out there.
	</p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Developed a generic scalable calculator on Spel and Java, which reduced the time to market from 30 man days to 1 week.
    			</li>
          <li>
            Speaker in various technical forums (BJUG) and an active technical writer(https://007aniketkumar.github.io/)
          <li>
            Led the design and development of in house data monitoring and capturing tool, there by helping save $ spent on propertieary software.
          </li>
    	   <li>
            Onsite experience of working closely with the business partners in HongKong.
    	   </li>
	<li>
		Active in helping create a chatbot which can help in faster resolution of production issue related queries, using 
		in using Standford NLP, Apache lucene.
	</li>
    	 </div>
    </div>
  </div>
</section>
