<section class="tout" id="interests">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <p>
                    My personal interests include:
                </p>
                <ul>
                    <li>
                        <b>Exploring Scalable Systems</b>. I am deeply fascinated by the design and architecture of scalable systems. As cloud technologies evolve, I continuously seek to enhance my understanding and apply these concepts in both personal and professional projects. The challenge of ensuring performance and reliability at scale is something I find particularly rewarding.
                    </li>
                    <li>
                        <b>Innovative Tooling</b>. I believe in leveraging tools that simplify complex tasks. For instance, I developed a simple application that interacts with APIs from my favorite web series to notify me of new episodes. Additionally, I've experimented with Arduino projects, such as building a Bluetooth sensor to control lighting from my phone, and I currently assist a school student with his Arduino project.
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <h3 style="margin-top:0">Recent Projects</h3>
                <ul>
                    <li>
                        Contributing to open-source has always been a goal of mine. Recently, I raised an <a href="https://github.com/spring-projects/spring-framework/issues/23084">issue</a> with the Spring framework and am working towards submitting a pull request.
                    </li>
                </ul>
                <h3>Other Activities</h3>
                <ul>
                    <li>
                        I am an active member of the Bangalore Java User Group (BJUG), where I engage with fellow developers to share knowledge and insights.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
