<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Learning about scalable systems</b>. It's an exciting time for cloud related technolgies. I'm constantly working to learn and improve my self and put them to real use in my projects(personal as well as professional)
			  </li>
			  <li>
				  <b>Tooling</b> Anything which can make my life easier, qualifies as a tool for me. I wrote basic code to call the APIs of my favorite web series and notify me once  a new episode was released. 
                                     Also tried my hands arduino, to build a basic Bluetooth sensor to control the light bulb my from phone. Lately, helping out a school kid with his project built on Arduino.</li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
				Have always wanted to contribute back to the open source. Had raised an <a href="https://github.com/spring-projects/spring-framework/issues/23084">issue</a> with the Spring framework and working to raise the PR.
https://github.com/spring-projects/spring-framework/issues/23084

			  </li>
  			
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			
  			<li>
  			  Active member of BJUG(Bangalore Java User Group).
  			</li>

		   </ul>
      </div>
    </div>
  </div>
</section>
