<!-- reading_list.html -->
<section id="reading_list">
    <div class="container">
        <h1>The Learning Library</h1>

        <!-- Books Section -->
        <section id="books">
            <h2>Books</h2>
            <ul>
                <li>
                    <a href="https://www.goodreads.com/en/book/show/23463279" target="_blank">Designing Data-Intensive Applications

</a>
                    <p>This book serves as my go-to reference guide, which I often pick up and read. I also enjoy Martin Kleppmann's insightful videos on YouTube to complement the material. I'm working on quick reference notes soon, focusing on key topics like transactions across distributed systems, replication, and consensus algorithms.</p>
                </li>
                <!--<li>
                    <a href="https://example.com/book2" target="_blank">Book Title 2</a>
                    <p>Summary of Book Title 2 goes here.</p>
                </li>-->
                <!-- Add more books as needed -->
            </ul>
        </section>

        <!-- Papers Section -->
        <section id="papers">
            <h2>Papers</h2>
            <ul>
                <li>
    <a href="https://www.usenix.org/system/files/atc22-elhemali.pdf" target="_blank">DynamoDB paper</a>
    <p style="font-size: small;">
        Multi-tenant, designed to provide low-latency responses, typically in the single-digit millisecond range, regardless of the data size or traffic volume. Highly scalable DB, handled trillions of API calls with peak requests reaching 89.2 million per second. Practical scenarios around the operations challenges.
    </p>
</li>
                <li>
    <a href="https://static.googleusercontent.com/media/research.google.com/en//archive/gfs-sosp2003.pdf" target="_blank">Google File System paper</a>
    <p style="font-size: small;">
        <strong>Large Files:</strong> GFS is optimized for large files, typically ranging from megabytes to gigabytes in size. It efficiently manages these files by breaking them into smaller chunks.<br>
        <strong>Chunk Data:</strong> Files are divided into fixed-size chunks (usually 64 MB), stored across multiple servers. Each chunk is replicated for fault tolerance, ensuring data availability even in case of hardware failures.<br>
        <strong>Metadata:</strong> GFS maintains metadata about files and their locations, including information on chunk sizes, replication status, and the mapping of chunks to storage nodes.<br>
        <strong>Versioning:</strong> GFS supports versioning of files, allowing users to access previous versions and manage changes over time.<br>
        <strong>Fault Tolerance:</strong> The system is designed to handle failures gracefully by replicating chunks across different machines and automatically recovering from errors.<br>
        <strong>Append-Only Operations:</strong> GFS supports append operations efficiently, making it suitable for applications that require logging or streaming data.
    </p>
</li>
                <!-- Add more papers as needed -->
            </ul>
        </section>

    </div>
</section>
